@font-face {
    font-family: roboto_regular;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto_light;
    src: url(../fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: roboto_thin;
    src: url(../fonts/Roboto/Roboto-Thin.ttf);
}

@font-face {
    font-family: allura;
    src: url(../fonts/Allura/Allura-Regular.ttf);
}

@font-face {
    font-family: poppins_light;
    src: url(../fonts/Poppins/Poppins-Light.ttf);
}